@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.form {
	font-family: 'Source Sans Pro', sans-serif;
}

.fieldset {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	padding: 15px 50px;
}